/* BARLOW CONDENSED FONT DEFINITION */
@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-Thin.ttf");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-ThinItalic.ttf");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-ExtraLight.ttf");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-ExtraLightItalic.ttf");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-Light.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-LightItalic.ttf");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Barlow Condensed Regular";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Barlow Condensed Italic";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-Italic.ttf");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-MediumItalic.ttf");
    font-style: italic;
    font-weight: 500;
}


@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-SemiBoldItalic.ttf");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-BoldItalic.ttf");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-ExtraBold.ttf");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-ExtraBoldItalic.ttf");
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-Black.ttf");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../../Fonts/Barlow_Condensed/BarlowCondensed-BlackItalic.ttf");
    font-style: italic;
    font-weight: 900;
}



/* IBM PLEX SANS FONT DEFINITION */

@font-face {
    font-family: "IBM Plex Sans";
    src: url("../../Fonts/IBM_Plex_Sans/IBMPlexSans-Thin.ttf");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("../../Fonts/IBM_Plex_Sans/IBMPlexSans-ThinItalic.ttf");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("../../Fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("../../Fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLightItalic.ttf");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("../../Fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("../../Fonts/IBM_Plex_Sans/IBMPlexSans-LightItalic.ttf");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "IBM Plex Sans Regular";
    src: url("../../Fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "IBM Plex Sans Italic";
    src: url("../../Fonts/IBM_Plex_Sans/IBMPlexSans-Italic.ttf");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("../../Fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("../../Fonts/IBM_Plex_Sans/IBMPlexSans-MediumItalic.ttf");
    font-style: italic;
    font-weight: 500;
}


@font-face {
    font-family: "IBM Plex Sans";
    src: url("../../Fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("../../Fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.ttf");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("../../Fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("../../Fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf");
    font-style: italic;
    font-weight: 700;
}