:root {
    --main-bg-color: #141414;
    --box-bg-color: #1f1f1f;
    --h-dark: #737373;
    /*h for header like h1*/
    --h-white: #fff;
    /*h for header like h1*/
    --parag-dark: #828282;
    --title-dark: #666;
    --link-orange: #f26b2b;
    --bg-selection: #f0f0f0;

    --nav-bg-dark: #3f3f3f;
}