main{
    margin-top: 200px;
    margin-bottom: 2000px;
    padding: 3%;
}
.line{
    width: 10%;
    height: 1px;
    background-color: var(--parag-dark);
    position: relative;
    /* i use posion for the psuedo element */
    left: 0px;
    z-index: -5;
}
.line::before{
    content: '';
    background: var(--link-orange);
    display: block;
    width: 15%;
    height: 1px;
    position: absolute;
    left: 0px;
    right: 0px;
}
.introduction{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hi{
    color: var( --parag-dark);
    letter-spacing: 3px;
    font-weight: 100;
    width: 50%;
    height: 100px;
    font-size: 90px;

}

.pic1{
    width: 47%;
    

}
.pic2{
    width: 50%;
    margin-top: -170px;
    
}
.logo2{
    width: 300px;
    background-image: url(../Assets/Icons/passion.svg);
    background-repeat: no-repeat;
    position: relative;
    right: 34%;
    bottom: 100px; 
}
.about_me{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    /* i use posion for the psuedo element */
}
.pr1{
    padding-right: 30px;
    width: 50%;
    
}
.pr1  h2{
    font-weight: 200;
    font-size: 42px;
}
.pr1 p{
    font-weight: 300;
    
}
.gp{
    color: var(--parag-dark);
    font-size: larger;
    
}
.pr2{
    width: 50%;
    padding-top: 20px;
    color: var(--parag-dark);
    font-size: large;
    font-weight:300 ;


}
.pr2::before{
    content: '';
    background:var(--parag-dark) ;
    width: 1px;
    height: 95%;
    position: absolute;
    left: 49%; 
}

.achievements{
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.ash1 ,.ash2,.ash3{
    display: flex;
    flex-direction: column;
    background-color: var(--box-bg-color) ;
    width: 30%;
    height: 250px;
    padding: 20px;
}
.award1{
    margin-left: 33%;
    width: 40%;
    height: 60%;
    background-image: url(../Assets/Icons/achievement1.svg);
    background-repeat: no-repeat;
}
.award2{
    margin-left: 33%;
    width: 40%;
    height: 60%;
    background-image: url(../Assets/Icons/achievement1.svg);
    background-repeat: no-repeat;
}
.award3{
    margin-left: 33%;
    width: 40%;
    height: 60%;
    background-image: url(../Assets/Icons/achievement1.svg);
    background-repeat: no-repeat;
}
.achievements p{
    text-align: center;
}
.state{
    color: #f26b2b;
    font-size: 150px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 150;
    position: relative;
}
.state::before{
    position: absolute;
    left: 0px;
    bottom: 0px;
    content: '';
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to bottom,transparent 10%,var(--main-bg-color)60%);

}

.achievements2 p{
    font-size: xx-large;
    font-weight:200 ;
}
.achievements2 div{
    display: flex;
     justify-content: space-between;
     position: relative;
}
.ln{
    width: 100%;
    height: 0.1px;
    background-color: var(--parag-dark);
    position: relative;
    bottom: 70px;
}
.achievements2{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}


