*{ 
    margin:0; 
    padding:0;
    box-sizing: border-box;

 } 
 *::selection 
 { background:rgb(198, 197, 197) ; 
    color: rgb(66, 66, 66); } 
 body{
     min-height: 100vh; 
     background-color: #111;
      font-family: Barlow Condensed;
      font-family: Barlow Condensed;
 }
  main{
  position:relative;
   top:150px;
  width:95%; 
  margin: auto;
  height: 100vh;
 }
 .titel{
 text-align: center;

 }
 
 .titel .s1 {
color:rgb(255, 115, 0);
font-size: 20px;
margin-right: 20px;
margin-bottom: 10px;

 }
 .titel .s2{
  color:rgb(255, 255, 255);
font-size: 20px;
margin-right: 20px;

margin-bottom: 10px;
 }
 .titel h1{
    color: white;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 .hero{
    
    height: 100vh;
    margin: auto;
padding: 10px;
border-top: 1px solid rgb(255, 255, 255,0.25);
 }
 .hero p{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(112, 111, 111);
 }
 .hero img{
    width:100%;
    height: 80%;
 }
 .in{
    width:50%;
    height: 100vh;
    margin: auto;
    
    padding: 20px;
 }
.in h2{
    color:white;
    font-size: 30px;
}
.in p{
    color: #6e6d6d;
    font-size: 20px;
    margin: 20px 0;
}
.in img{
    width:100%;
   
    height: 50%;
    
}
.wiz{
     width:60%;
    
    margin:  40px auto;
    border-left: 2px solid rgb(255, 115, 0);
    padding: 30px 20px;
    
}
.wiz .hik{
    font-size: 30px;
    color:white;
    letter-spacing: 1px;
    word-spacing: 2px;

    margin-bottom: 25px;
}
.wiz .pro{
    font-size: 15px;
    margin-top: 40px;
    color: #6b6a6a;
}
.con{
    padding: 30px;
    width:50%;
    
    margin: auto;
    background-color: #6b6a6a;
    border:1px solid #6e6d6d;
}
.con h2{
    color:white;
    font-size: 30px;
    margin-bottom:20px ;
}
.con p{
    color: #b9b7b7;
    font-size: 18px;
}

   
 
  

 