*{ 
    margin:0; 
    padding:0;
    box-sizing: border-box;

 } 
 *::selection 
 { background:rgb(198, 197, 197) ; 
    color: rgb(66, 66, 66); } 
 body{
     min-height: 100vh; 
     background-color: #111;
      font-family: Barlow Condensed;
 }
 /* header{ 
 width:100%; 
 height: 20px; 
margin-left: 30px; 
 margin-top: 10px;
position:fixed; 
 z-index: 1000; 
    }
header ul li {
  height: 50px; 
} 
  header nav ul {
 list-style: none; 
 display: flex;
  flex-wrap: wrap; 
                }
header nav ul li a{ 
 text-decoration: none;
 color:white; 
 font-size: 20px; 

  height: 100%; 
  padding:0 25px;
 display: flex;
 align-items: center;
 gap:3px; 
 margin: 0 10px;
 position:relative;
 justify-content: space-around;
} 
header nav{ 
 border:1px solid rgb(255,255,255,0.25);
 max-width:48%; 
 min-height:72px;
 display: flex; 
 justify-content: center; 
 align-items: center; 
 border-radius: 8px;
 margin-left:35px;
 position:relative;
  left:258px; 
 bottom: 79px;
    background-color: #111;
    flex-wrap: nowrap;
     } 
                                 
     header img{
   width:233px;
   margin-right:30px;
   } 
 header a::before{
 content:"";
  width:0%;
   height: 100%;
   position:absolute;
    left:0; 
    background-color: aliceblue; 
     opacity: 0.3; 
   transition: 0.4s; 
    } 
  header a:hover::before{
  width:100%;
    }  */
  a:hover{
  color:rgb(255, 106, 0);
    } 
  main{
  position:relative;
   top:150px;
  width:95%; 
  margin: auto;
  height: 100%;
  margin-bottom: 200px;
 }
  .all{
    display: flex;
    
    width:100%;
    height: auto;
  }
  .leftside{
width:45%;
align-self: flex-start;
    position: sticky;
    top:0;
height: fit-content;
 margin: 0 5px;
padding:25px 10px;
  }
.rightside{
  width:55%;

  height: 100%;
  overflow-y: visible;
  overflow-x: visible;
  margin: 0 5px;
  border-radius: 10px;
  
}
.leftside h1{
  color:white;
  font-size: 80px;
  font-weight: 100;
  letter-spacing: 1px;
}
.leftside :first-child{
  color:rgb(106, 106, 106);
}
.leftside p{
  margin-top: 30px;
  font-size: 20px;
  color:rgb(105, 103, 103);
}
.rightside >div{
 background-color: #111;
 border-radius: 10px;
  width:92%;
  border-top:2px solid rgb(255, 98, 0);
  max-height: fit-content;
  margin: 30px auto;
  border:1px solid rgba(158, 155, 155, 0.253);
  padding: 20px 10px 30px 10px;
  box-shadow: 0 0 20px rgba(48, 48, 48, 0.5);
}

.rightside::-webkit-scrollbar {
  width: 6px; 
}

.rightside .im{

  width:90%;
  margin: auto;
 height: 300px;
 margin-top: 30px;
 transition: 1s;
} 
.rightside .s1{
  color:rgb(255, 119, 0);
  margin-right: 10px;
  font-size: 22px;
  
}
.rightside .s2{
  color:white;
font-size: 22px;
}


.rightside h2{
  font-size: 40px;
  color:white;
border-top: 1px solid  rgba(230, 228, 228, 0.25);
margin-top:20px ;
padding:10px;
margin-bottom: 30px;
font-weight: 200;
}
.rightside a{
   width:180px;
    border: 1px solid rgb(255,255,255,0.25);
    border-radius: 8px;
    text-decoration: none;
    color:white;
    font-size: 25px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-left:40px;
    overflow: hidden;
    position: relative;
   
   
}
.rightside a::before{
content: " ";
    width:0;
    height: 100%;
    opacity: 0.2;
    transition: 0.5s;
    position:absolute;
  left:0px; 
  
  
 background-color: aliceblue;
 border-radius: 8px;
}
.rightside a:hover::before{
  width:100%;
}
.rightside a:hover{
  color: rgb(255, 140, 0);
}
.tutorial .im{
  background-image:url("../Images/Blog/camera.webp") ;
  background-position: center;
  transition:1s;
  background-repeat: no-repeat;
  background-size: 500px;
  overflow: hidden;
}
.travel .im{
  background-image:url("../Images/Blog/hindi.webp") ;
  background-position: center;
  transition:1s;
  background-repeat: no-repeat;
  background-size: 500px;
  overflow: hidden;
}
.nature .im {
  background-image:url("../Images/Blog/warda.webp") ;
  background-position: center;
  transition:1s;
  background-repeat: no-repeat;
  background-size:500px ;
  overflow: hidden;
}
.beauti .im{
  background-image:url("../Images/Blog/titiza.webp") ;
  background-position: center;
  transition:1s;
  background-repeat: no-repeat;
  background-size: 500px;
  overflow: hidden;
}
.story .im{
  background-image:url("../Images/Blog/7atim.webp") ;
  background-position: center;
  transition:1s;
  background-repeat: no-repeat;
  background-size:500px ;
  overflow: hidden;
}
.rightside .im:hover{
  background-size: 600px;
}

body{
  display: flex;
  flex-direction: column;
}



@media(max-width:768px){
  
 
  .all{
    flex-direction: column;
    width:100%;
    height: 100vh;
  }
  .leftside{
    width:100%;
    margin: auto;
    height: 50%;
    margin-bottom: 20px;
    z-index: 10px;
  }
  .leftside h1{
    font-size: 60px;
    margin-top: 0px;
width:80%;
margin: auto;
  }
  .leftside p{
    width:80%;
    font-size: 18px;
    margin-top: 0px;
    margin: auto;
    position: static;
  }
  .rightside{
    width:100%;
    height: 50%;
    margin: 20px auto;
    overflow:visible ;
    position: relative;
    top:15%;
    z-index: ;
  }
  .rightside .s1{
font-size: 18px;
  }
  .rightside .s2{
    font-size: 18px;
  }
.rightside h2{
  font-size: 30px;
  margin-bottom: 10px;
}
.rightside .im {
  background-size: 600px;
  height: 250px;
}
.rightside .im:hover{
  background-size: 650px;
}
.rightside a{
  font-size: 20px;
  height: 50px;
  width: 150px;
  margin-left: 20px;
}

}
