/* We will define here the header + footer + body since they are repeated */
@import url("./Pre_defs/fonts.css");
@import url("./Pre_defs/variables.css");

* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans";
    box-sizing: border-box;
    color: white;
}

*::selection {
    background-color: var(--bg-selection);
    color: black;
}

a:hover {
    color: var(--link-orange) !important;
    font-size: 18px;
}

html,
body {
    width: 100%;
    height: 100vh;
}



body {
    background-color: var(--main-bg-color);
}

header {
    width: 100%;
    max-height: 100px;
    height: 90px;
    display: flex;
    color: var(--h-white);
    box-sizing: content-box;
    padding: 30px 0;
    position: fixed;
    top: 0;
    z-index: 1000;

}

header .logo {
    min-width: 25%;
    height: 100%;
    background-image: url("../Icons/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
}

header .hamburger-button {
    display: none;
}

header nav {
    min-width: 50%;
    height: 80%;
    border: 1px solid var(--nav-bg-dark);
    border-radius: 10px;

    position: relative;
    top: 10%;
    background-color: var(--box-bg-color);
}

header nav ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

header nav ul li {
    position: relative;
    transition: 0.2s linear;
    font-family: "Barlow Condensed";
    z-index: 10;
}

header nav ul li:hover {
    color: var(--link-orange);
}

header nav ul li a {
    text-decoration: none;
    font-family: inherit;
    transition: 0.2s linear;

}

header nav ul li a:hover {
    font-size: inherit;
}

:root {
    --padding-width: 15px;
}

header nav ul li::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: var(--nav-bg-dark);
    padding: var(--padding-width) 0;
    position: absolute;
    top: calc(-1 * var(--padding-width));
    left: calc(-1 * var(--padding-width));
    transition: 0.2s linear;
    z-index: -1;
}

header nav ul li:hover::before {
    width: 100%;
    padding: var(--padding-width);
}

header nav ul li.main_page::before {
    width: 100%;
    padding: var(--padding-width);
}

header .nav-overlay {
    display: none;
}


main {
    margin-top: 250px;
}

h1 {
    font-family: "Barlow Condensed";
    font-size: 80px;
}

h1.has_bar::before {
    content: "";
    width: 5ch;
    height: 1px;
    position: absolute;
    left: 30px;
    background-image: linear-gradient(90deg, var(--link-orange) 30%, var(--parag-dark) 30%);
}



footer {
    width: 100%;
    padding: 60px 0;

}


footer div.infos {
    width: 80%;
    height: 300px;
    margin-left: 80px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

footer div.infos::before,
footer div.infos::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--parag-dark);
    position: absolute;
    top: -10%;
}

:root {
    --left: -50px;
}

footer div.infos::before {
    left: var(--left);
}

footer div.infos::after {
    left: calc(50% + var(--left));
}


footer div.infos>div {
    width: 50%;
    height: 50%;
}

footer .infos div * {
    font-size: medium;
    font-weight: 300;
}

footer .infos div p {
    color: var(--parag-dark);
}

footer div.infos div h4 {
    font-size: x-large;
    font-weight: normal;
    color: var(--title-dark);
    padding: 10px 0;
    position: relative;
    margin-top: -1.25em;
    margin-bottom: 15px;
}


footer div.infos div.open_hour h4,
footer div.infos div.social_media h4 {
    margin-top: 0em;
}

footer div.infos div h4::before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--link-orange);
    position: absolute;
    top: 0;
    left: var(--left);
    z-index: 1;
}

footer .infos div span a {
    color: var(--parag-dark);
}

footer .infos div.social_media span {
    background-color: var(--box-bg-color);
    padding: 10px;
    border-radius: 7px;
    margin-right: 10px;
}

footer .copyright {
    width: 100%;
    text-align: center;
    padding: 100px 0 0 0;
    position: relative;

    font-size: large;
    font-weight: 300;
}

footer .copyright p {
    color: var(--parag-dark);

    span {
        color: inherit;
        font-style: italic;
    }
}

footer .copyright::before {
    content: "";
    width: 96%;
    height: 1px;
    background-color: var(--nav-bg-dark);
    position: absolute;
    top: 35px;
    left: 2%;
}

/* tablet */
@media (max-width: 960px) {
    header {
        justify-content: space-evenly;
    }
}

/* phone */
@media (max-width: 767px) {
    header {
        justify-content: space-between;
        background-color: var(--main-bg-color);
        padding: 0;
        width: 95%;
        height: 70px;
        margin: auto;
    }

    header .logo {
        width: 150px;
        background-size: contain;
        margin-left: 10px;
    }

    header .hamburger-button {
        display: block;
        width: 40px;
        margin-right: 10px;
        z-index: 10;
        cursor: pointer;
        /* height: auto; */
    }

    header .hamburger-button svg {
        width: 100%;
        height: 100%;
    }

    header nav {
        visibility: visible;
        min-width: 80vw;
        padding-inline: 50px;
        border-radius: 0;
        border: none;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 3;
        transform: translateX(100%);
        transition: 0.3s ease-out;

    }

    header nav.nav-open {
        transform: translateX(0);
    }



    header .hamburger-button svg path {
        transition: 0.3s;
        width: 0;
    }

    /* header .hamburger-button svg path:nth-of-type(2) {
        transition: 3s;
    } */

    header:has(nav.nav-open) .hamburger-button svg path:nth-of-type(3) {
        transform: rotate(-45deg) translate(-12px, 11px);
    }

    header:has(nav.nav-open) .hamburger-button svg path:nth-of-type(1) {
        transform: rotate(45deg) translate(5px, -18px);
    }

    header:has(nav.nav-open) .hamburger-button svg path:nth-of-type(2) {
        transform-origin: 60%;
        transform: scaleX(0);
    }

    header .nav-overlay {
        display: block;
        width: 110vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -5vw;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);

        visibility: hidden;
        opacity: 0;
        transition: 0.3s;

    }

    header nav.nav-open~.nav-overlay {
        visibility: visible;
        opacity: 1;
    }

    header nav ul {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    header nav ul li {
        font-size: 24px;
    }

    header nav ul li::before {
        display: none;
    }



    main {
        /* box-sizing: content-box; */
        margin-top: 70px;
    }

    h1 {
        margin-left: 20px;
    }

    footer {
        margin-top: 100px;
    }

    footer .infos {
        height: 100%;
        min-height: fit-content;
        flex-wrap: nowrap;
    }

    footer .infos::after {
        display: none;
    }

    footer div.infos .social_media {
        display: flex;
        flex-direction: column;

    }

    footer div.infos .social_media .wrapper {
        /* flex-grow: 10; */
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    footer div.infos .social_media .wrapper span {
        /* flex-grow: 10; */
        width: 95px;
        height: 40px;
    }

}
