html,
body {
    max-width: 100%;

}

a:hover {
    color: var(--link-orange) !important;
    font-size: 18px;
}

header nav ul li.main_page a {
    color: var(--link-orange) !important;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


main section.main_head {
    width: 100%;
    min-height: 20vh;
    margin-top: 70px;
    padding-left: 20px;
    box-sizing: border-box;

}

main section.main_head h1 span {
    font-family: "Barlow Condensed";
    font-weight: 300;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 90px;
    margin: auto;
}

main section.main_head h1 span:first-child {
    color: #333;
}

main section.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}





main section.gallery ul {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}



main section.gallery ul li {
    margin: 0 20px;
    position: relative;
    cursor: pointer;
    font-weight: 300;
    font-size: large;
}

:root {
    --nav-adding: 30%;
}

main section.gallery ul li::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: var(--link-orange);
    position: absolute;
    bottom: -16px;
    left: calc(-1 * var(--nav-adding) / 2);
    transition: 0.3s;
}

main section.gallery ul li:hover,
main section.gallery ul li.active {
    color: var(--link-orange);
}

main section.gallery ul li:hover::after,
main section.gallery ul li.active::after {
    width: calc(100% + var(--nav-adding));
}

main section.gallery .photos {
    margin-top: 30px;
    max-width: 95%;
    column-count: 4;
    gap: 20px;
    transition: 0.5s;
}


main section.gallery .photos .photo_item {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
}

main section.gallery .photos .photo_item img {
    width: 100%;
    filter: grayscale(100%);
    transition: 0.3s;
}

main section.gallery .photos .photo_item img:hover {
    filter: grayscale(0%);
    transform: scale(1.02);
}

main section.gallery-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    transition: 0.3s;
}

main section.gallery-overlay .viewer {
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.gallery-overlay .viewer img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    object-fit: contain;
}

main section.gallery-overlay .viewer .controls {
    position: absolute;
    top: 0;
    right: 0;

    transform: translateY(-120%);

}

main section.gallery-overlay .viewer .controls button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: xxx-large;
    cursor: pointer;
    user-select: none;
}

/* tablet */
@media (max-width: 960px) {
    main section.gallery .photos {
        column-count: 2;
    }
}

/* phone */
@media (max-width: 767px) {
    main {
        max-width: 100vw;
    }

    main section.main_head {
        padding-left: 0px;
    }

    main section.main_head h1 span {
        font-size: 50px;
    }

    main section.gallery ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 40px;
    }

    main section.gallery ul li::after {
        width: 80%;
        left: 0%;
        background-color: #4b4b4b;
    }

    main section.gallery ul li:hover::after {
        width: 80%;
    }

    main section.gallery ul li.active::after {
        width: 80%;
        background-color: var(--link-orange);
    }

    main section.gallery .photos {
        column-count: 1;
    }

    /* main section.gallery-overlay {
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(10px);
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        visibility: hidden;
        transition: 0.3s;
    } */

    /* main section.gallery-overlay .viewer {
        height: 90vh;
        width: 100%;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
    } */

}